/* FeedbacksList.css */
.feedback-list-container {
  width: 80%;
  margin: auto;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #e0e0e0;
}

.feedback-details-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}